<a href="https://www.youtube.com/new" style="color: white;background:#B71C1C;font-size: 16px;padding: 8px 10px 8px 10px;border-radius: 5px;box-shadow: 0 0 8px #B71C1C">youtube.com/new to enable Material UI</a>
<ul style="font-size: 20px;background-color: #212121;padding: 8px 0 8px 10px;color:white;box-shadow: 0 0 8px #000">
<li style="margin-top: 10px !important">Fade backgrounds and transparent objects pretty much everywhere</li>
<li style="margin-top: 10px !important">Now with support for both new Material UI and older look</li>
<li style="margin: 10px 0 10px 0 !important">This got redone in the end of September 2017, so I apologize if something's broken after that. Make sure to tell me in the comments so I can fix the issues.</li>
</ul>

<a href="https://gitlab.com/macsy/stylish_fadeplustheme/" style="color: white;background:#283593;font-size: 16px;padding: 8px 10px 8px 10px;border-radius: 5px;margin-top: 15px;box-shadow: 0 0 8px #283593">GitLab Repo</a>
