@-moz-document domain("www.youtube.com")
{
  input:-moz-placeholder
  {
    color: white !important;
  }

  scrollbar
  {
    -moz-appearance: n5one !important;
    background: #040406 !important;
  }

  scrollbar[orient="vertical"]
  {
    min-width: 14px !important;
    max-width: 14px !important;
  }

  scrollbar[orient="horizontal"]
  {
    min-height: 14px !important;
    max-height: 14px !important;
  }

  scrollbar slider
  {
    -moz-appearance: none !important;
    background: transparent !important;
  }

  scrollbar thumb
  {
    -moz-appearance: none !important;
    background: #333 !important;
    border: none !important;
  }

  scrollbar thumb:not(:active):hover
  {
    background: #383838 !important;
  }

  scrollbar thumb:active, scrollbar thumb:hover:active, scrollbar thumb[active="true"]
  {
    background: #5c5c5c !important;
    border: none !important;
  }

  scrollbar scrollbarbutton,  iron-overlay-backdrop.opened
  {
    display: none;
  }

  scrollcorner
  {
    -moz-appearance: none !important;
    background: #040406 !important;
    border: none !important;
  }

  *|*::-moz-dropdown-list
  {
    -moz-appearance: none !important;
    border: none !important;
  }

  #account-name, #title a
  {
    overflow: hidden;
  }

  body
  {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #page, #body-container, .swatch, #top-bar, .yt-consent-banner, body ytd-app #content.ytd-app
  {
    background: rgb(254, 203, 111);
    background: -moz-linear-gradient(left, rgba(254, 203, 111, 1) 0%, rgba(252, 155, 112, 1) 15%, rgba(237, 106, 111, 1) 30%, rgba(203, 78, 108, 1) 48%, rgba(140, 65, 104, 1) 65%, rgba(81, 60, 99, 1) 82%, rgba(57, 59, 98, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(254, 203, 111, 1) 0%, rgba(252, 155, 112, 1) 15%, rgba(237, 106, 111, 1) 30%, rgba(203, 78, 108, 1) 48%, rgba(140, 65, 104, 1) 65%, rgba(81, 60, 99, 1) 82%, rgba(57, 59, 98, 1) 100%);
    background: linear-gradient(to right, rgba(254, 203, 111, 1) 0%, rgba(252, 155, 112, 1) 15%, rgba(237, 106, 111, 1) 30%, rgba(203, 78, 108, 1) 48%, rgba(140, 65, 104, 1) 65%, rgba(81, 60, 99, 1) 82%, rgba(57, 59, 98, 1) 100%);
    color: #bdbdbd;
    object-fit: cover;
  }

  #masthead-appbar-container, #masthead-appbar, #yt-masthead-container, #search-btn, #masthead-search-terms, #appbar-content, #appbar-guide-menu, #guide, #guide-container, yt-multi-page-menu-section-renderer, #search-form, #container, #search-icon-legacy, ytd-video-primary-info-renderer, ytd-video-secondary-info-renderer, #placeholder-area, #header, .style-scope, #video-title, #search, ytd-guide-section-renderer, ytd-compact-autoplay-renderer, #guide-section, .guide-section-separator, .feed-item-container, #watch7-user-header, #watch8-action-buttons, #action-panel-details *, .comment-simplebox-renderer-collapsed-content, .comment-simplebox-renderer, .yt-uix-menu, .yt-uix-button, #gh-banner *, .c4-featured-content, #c4-primary-header-contents, .yt-uix-clickcard-card-border, .yt-subscriber-count, .comment-simplebox-frame, .yt-card *, .yt-uix-clickcard-card-body, .ytp-ce-channel-metadata, #footer *, #upload-item-0
  {
    border: 0 !important;
  }

  #tabs-inner-container, .yt-horizontal-list-renderer *, #footer-container, #footer, #footer-main, #footer-links, #top, #primary, .live-chat-expander, #chat-messages, .yt-live-chat-renderer, #hide-live-comments, #commentbox #main #footer, #sponsor-button ytd-button-renderer, #embed-layout-options, ytd-playlist-sidebar-renderer #items, .branded-page-v2-container, .ytp-cards-teaser-box, .iv-card-content, .comment-section-sort-menu, .ytp-upnext-top
  {
    background: rgba(0, 0, 0, 0.7) !important;
  }

  ytd-app
  {
    z-index: -10;
  }

  .ytd-notification-renderer, #endpoint *, #label, #email, #account-name, .ytd-simple-menu-header-renderer, .ytd-account-settings, #edit-buttons *, .ytd-subscribe-button-renderer, .ytd-c4-tabbed-header-renderer, .video-settings-add-tag, yt-live-chat-creator-support-renderer #cancel #text, .ytd-toggle-item-renderer, #actions #input, #watch7-subscription-container .yt-subscription-button-subscriber-count-branded-horizontal, .comment-search::placeholder, .ytd-simple-menu-header-renderer, .ytd-add-to-playlist-create-renderer #label, .ytd-multi-page-menu-renderer #sections *, #upload-privacy-selector span
  {
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #guide *, #guide-section-title a, #video-title, #metadata-line *, #byline *, #guide-section-title *, .guide-entry-count, #toggle *, #title-annotation, #title, #owner-container *, .view-count, .title, .date, #description, #content .content-text, .more-button, .count-text, #label *, #content-text, #text, #vote-count, .ytd-comment-renderer, .style-default-active, #published-time-text *, #byline, .yt-simple-endpoint, #simplebox-placeholder, #label, #description-text, #search, #upnext, #button yt-icon, #name *, #meta *, #subtitle, #author-name, #icon, #count, #content *, #channel-title, #subscriber-count, #input, .yt-sharing-renderer, .ytd-badge-supported-renderer, .ytd-comment-renderer #label, .paper-tab *, #footer-links *, paper-tab[aria-selected='true'] *, .yt-new-promo-page-header *, .yt-new-promo-page-section *, paper-toast#toast *, h3.title, a.yt-uix-sessionlink, ytd-add-to-playlist-renderer #header, .comment-comment, #yt-masthead-notifications-title, .ytp-ce-subscribe-container *, .ytp-ce-channel-metadata *, #masthead-search-term, body:not([dark]) #search, #buy-flow #characters, #buy-flow #price .dim, #embed-label, yt-report-form-modal-renderer #radioLabel yt-formatted-string, ytd-ypc-offers-overlay-renderer *, .badge-style-type-live-now span, .epic-nav-item-heading[aria-selected=true]
  {
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #creator-page *, .yt-lockup-title a, .inner-progress-bars *, .sub-item-exp *, #checkbox-container #label, #creator-appbar-actions-bar *, a[href="https://aboutme.google.com/#profile_photo"] span, button[data-upload-button-id="add-more-videos-bottom"] span, ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-conversations"] #header #text
  {
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #back-button yt-icon, .ytd-simple-menu-header-renderer a[is="yt-endpoint"] #button yt-icon
  {
    fill: black !important;
  }

  #label-icon, #youtube-paths *, #guide-icon, #embed-panel #close-panel-icon, #youtube-red-paths *, .yt-uix-button-icon-material-upload, .menu-container.style-scope.ytd-multi-page-menu-renderer #footer yt-icon, ytd-author-comment-badge-renderer:not(.creator) #icon.ytd-author-comment-badge-renderer
  {
    fill: white !important;
  }

  .ytd-searchbox, #dashboard-header *, #masthead-search-terms
  {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  paper-item, #container #sections, .ytd-active-account-header-renderer, #header ytd-simple-menu-header-renderer, ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-notifications"], #caption-container *
  {
    background-color: #E0E0E0 !important;
  }

  a.yt-uix-sessionlink, .ytd-subscribe-button-renderer, ytd-playlist-sidebar-renderer, ytd-two-column-browse-results-renderer, #comments ytd-item-section-renderer #header, #dismissable #contents *, #page-container #content, .ytd-playlist-panel-renderer, #player, #player-container, ytd-c4-tabbed-header-renderer, .ytd-c4-tabbed-header-renderer, ytd-c4-tabbed-header-renderer app-header-layout, #movie_player, #like-button a #button[is="paper-icon-button-light"] *, #dislike-button a #button[is="paper-icon-button-light"] *, #top-level-buttons ytd-toggle-button-renderer a #button[is="paper-icon-button-light"] *, #top-level-buttons ytd-button-renderer a #button[is="paper-icon-button-light"] *, #guide-button *, .yt-next-continuation, #guide *, #masthead-container *, #body-container #page-container #content .branded-page-v2-container-flex-width *, #theater-background, #masthead-search *, #masthead-appbar, #yt-uix-clickcard-card1287 *, .comment-section-sort-menu *, #watch7-sidebar *, #placeholder-player div, #non-appbar-vm-video-actions-bar *, .vm-video-item-content, .live-dashboard-status-bar, .live-dashboard-status-bar-container, .video-settings-title, .video-settings-description, .detail-message, .yt-uix-dragdrop-drag-handle, .tabs-area *, .subscribers-header .sort-menu *, .comment-settings-header, .C2KYWWB-b-c, .C2KYWWB-b-n, #contentTable, #analyticsCard, .C2KYWWB-b-d, #gwt-debug-topEntity *, .C2KYWWB-P-j, #gwt-debug-demographicsGroup, .C2KYWWB-a-a, .C2KYWWB-P-h, #gwt-debug-performanceGroup, .C2KYWWB-a-a, .C2KYWWB-P-D, .channel-header, .yt-uix-subscription-button, .yt-uix-subscription-preferences-button, .ytp-ce-subscribe-container *, .comment-simplebox-text, a[is="yt-endpoint"] #channel-container, a[is="yt-endpoint"] #channel-container *, .player-controls-card .card-content *, .ytp-ce-channel-metadata, #vm-search-container *, .ytd-unlimited-manage-subscription-page-renderer, .dropdown-content[slot="dropdown-content"] *, .metadata-container[role="tabpanel"], span.yt-uix-form-input-container.yt-uix-form-input-textarea-container, #container #sections,  iron-dropdown #container #sections *, ytd-browse[page-subtype="playlist"] #alerts,
#offer-module #header, #offer-module #contents, .ytd-banner-promo-renderer-background
  {
    background-color: rgba(0, 0, 0, 0) !important;
    z-index: 0;
  }

  .branded-page-v2-primary-col *, .branded-page-v2-secondary-col div, .primary-header-contents, #channel-subheader, #toggleBar, #toggleButton, ytd-add-to-playlist-renderer #header, ytd-ypc-offers-overlay-renderer, ytd-movie-offer-module-renderer #header, .badge-style-type-simple, .badge-style-type-ypc, #embed-panel, #yt-masthead-notifications-header, yt-sharing-renderer, #active-uploads-contain, ytd-dismissal-follow-up-renderer, #upload-item-0, .menu-container.style-scope.ytd-multi-page-menu-renderer #footer *, #ChanOver
  {
    background-color: #212121 !important;
  }

  #watch-header, #action-panel-details, #watch7-sidebar, #top, #primary, .comment-section-sort-menu, #watch-discussion, .channel-header, #channel-subheader, #upload-page, #active-uploads-contain, #upload-item-0, #upload-page #main-content
  {
    border-radius: 3px !important;
  }
        /*[[roundedvideo]]*/
        /*[[coolfullscreen]]*/
  #channel-subheader
  {
    margin-top: -5px !important;
  }

  button[aria-checked=false], #c4-branding-dropdown, .casual-channel-settings-button-container, #gs_ok50, #search-btn, .c4-editor-plus, #upsell-dialog-title, #upsell-dialog-text, .play-all-icon-btn:before, #vm-myvideos-search-btn, #creator-subheader-item-count, .metadata-privacy-field .privacy-select, #appbar-guide-button[aria-expanded="true"] .yt-uix-button-icon-appbar-guide, #kbd-nav-889347 *, .vm-video-action-button-none-selected, .vm-video-action-button-selected, .creator-sidebar-feedback button span, .vm-video-actions-inner .yt-uix-menu-trigger-selected, #channel-search .show-search, #action-panel-dismiss, .c4-editor-plus .yt-uix-button-content, .vm-video-item-content-primary .checked input, .ytd-add-to-playlist-create-renderer yt-icon
  {
    filter: invert(1) !important;
  }

  .yt-uix-videoactionmenu-button, .action-panel-trigger-share, .yt-uix-menu-trigger, .yt-uix-button-icon-material-upload, .yt-uix-button-icon-bell, .yt-uix-button-icon-appbar-guide, .like-button-renderer-like-button-unclicked, .like-button-renderer-dislike-button-unclicked, .yt-uix-button-icon-footer-history, .yt-uix-subscription-preferences-button, .yt-uix-button-icon-icon-account-settings, #start-upload-button-single, .autoplay-info-icon, .yt-uix-button-icon-upload-add, input[type="checkbox"]
  {
    filter: invert(1) contrast(50%) brightness(1500%) !important;
  }

  #logo-container, .video-settings-title, .video-settings-add-tag, .playlist-label, .footer-logo-icon
  {
    filter: invert(1) contrast(500%) hue-rotate(180deg) !important;
  }

  .progress-bar-progress, .progress-bar-uploading
  {
    filter: sepia(1) saturate(10000%) hue-rotate(40deg) brightness(35%);
  }

  .progress-bar-text, .progress-bar-text-done
  {
    filter: saturate(10000%) brightness(10000%);
  }

  .inner-progress-bars
  {
    filter: contrast(80%) brightness(200%);
  }

  #appbar-guide-menu, #masthead-container, #yt-masthead-container, .yt-uix-clickcard-card1287, #watch-header, .yt-subscriber-count, #action-panel-details, #watch-discussion, #comment-simplebox, .comment-simplebox-cancel, #watch7-sidebar, .yt-uix-button[href="/dashboard?o=U"], .yt-masthead-picker-footer, .branded-page-v2-primary-col, .branded-page-related-channels, .appbar-nav-menu, #channel-container, #guide-wrapper, .upload-option-text a, .basic-info-form-input .yt-uix-form-input-container, .upload-widget, #gplus-import-button, .progress-bar-progress, .upload-footer .video-manager-button, button[data-upload-button-id="add-more-videos-bottom"], div[data-tab-id="basic-info"], .custom-thumb-button, .video-settings-add-tag, #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer #picker-buttons, .privacy-select, .metadata-add-to-clickcard .yt-uix-clickcard-target .metadata-add-to-playlist-button, .video-settings-description, .iv-branding-context-subscribe div div, .ytp-ce-expanding-overlay-background, .badge-style-type-live-now, yt-report-form-modal-renderer, paper-tab[aria-selected="true"], #vm-search-container, .dropdown-content[slot="dropdown-content"], input[type="checkbox"]
  {
    z-index: 25 !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  #guide, .app-drawer
  {
    z-index: 9001 !important;
  }

  #actions *, #playlists
  {
    background-color: white !important;
  }

  #creator-page-sidebar, #dashboard-header, .yt-uix-flipwidget-front, .dashboard-widget, .edit-expand-menu-button, #non-appbar-vm-video-actions-bar, .vm-video-item, #vm-pagination, .yt-card, .tabs-area, .comment-search, .search-btn-component, .video-dds, .yt-uix-form-input-textarea, .account-features-v2-grid-item-grey, .player-controls-card, #insight, .live-dashboard .video-settings-title, .yt-subscription-button-subscriber-count-branded-horizontal
  {
    z-index: 25 !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  iron-dropdown, form[name="mdeform"], .sub-item-exp-zippy, .upload-item-main, form[action="/metadata_ajax"] *, .upload-item-main div, #action-panel-share *, .metadata-container[role="tabpanel"]
  {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .upload-widget, #gplus-import-button, .progress-bar-progress, .upload-footer .video-manager-button, #checkboxContainer, #watch-action-panels, .vm-video-item-content-primary .checked .yt-uix-form-input-checkbox-element, button[data-upload-button-id="add-more-videos-bottom"], ytd-browse[page-subtype="channels"] ytd-browse-secondary-contents-renderer, .vm-video-action-button-none-selected button, #dismissable #contents .ytd-thumbnail-overlay-time-status-renderer
  {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  #footer-container, #footer-container *, .yt-uix-button-icon-footer-history
  {
    background-color: black !important;
    color: white !important;
  }

  #footer-logo, button[data-uix-load-more-target-id="comment-section-renderer-items"] .load-more-text
  {
    filter: invert(1);
  }

  #a11y-announcements-container
  {
    display: none;
  }

  .account-features-v2-grid-item-green, yt-options-renderer #radioContainer #offRadio
  {
    z-index: 25 !important;
    background-color: rgba(200, 255, 200, 0.5) !important;
  }

  .account-features-v2-grid-item-red, yt-options-renderer #radioContainer #onRadio
  {
    z-index: 25 !important;
    background-color: rgba(255, 200, 200, 0.5) !important;
  }

  .creator-sidebar-item.selected
  {
    background-color: rgba(215, 160, 160, 0.8) !important;
  }

  #toggle, #button[aria-pressed=true], #button[aria-checked=true], #button[aria-pressed=true] yt-icon, #button[aria-checked=true] yt-icon
  {
    filter: contrast(20%) sepia(1) saturate(700%) brightness(110%) hue-rotate(190deg)!important;
  }

  button[aria-expanded="true"]
  {
    filter: contrast(30%);
  }

  #creator-appbar-actions-bar .yt-uix-button, #ink[checked], paper-ripple[checked]
  {
    filter: contrast(10000%) brightness(200%) !important;
  }

  .ytd-add-to-playlist-create-renderer #button
  {
    filter: contrast(50%);
  }

  #create-playlist-form #labelAndInputContainer input[aria-labelledby="paper-input-label-1"]
  {
    background-color: #BDBDBD !important;
  }

  .yt-uix-shelfslider-next
  {
    background-image: url("http://www.flowerclothing.com/skin/frontend/birdbrain/default-grunt/img/icons/pager_arrow_right.svg")!important;
    height: 30px !important;
    width: 30px !important;
    object-fit: cover;
  }

  .yt-uix-shelfslider-next span
  {
    visibility: hidden !important;
  }

  .yt-uix-shelfslider-prev
  {
    height: 30px !important;
    width: 30px !important;
    object-fit: cover;
  }

  .yt-uix-shelfslider-prev span
  {
    visibility: hidden !important;
  }

  #masthead
  {
    z-index: 25 !important;
  }
	/* Sidebar layering fix */
  #owner-name a
  {
    font-weight: 400 !important;
  }
	/* Arrow Fixes */
  #left-arrow, #left-arrow *, #right-arrow, #right-arrow *
  {
    box-shadow: none !important;
  }

  #left-arrow #button, #right-arrow #button, #left-arrow #button svg, #right-arrow #button svg
  {
    background-color: #212121 !important;
    border-radius: 50% !important;
    filter: contrast(300%) brightness(550%);
  }

  #nav, .ytd-banner-promo-renderer-layout
  {
    display: none !important;
  }

  #author-comment-badge #name yt-formatted-string
  {
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #page-manager
  {
    margin-top: -70px !important;
  }

  #watch7-sidebar
  {
    margin-top: -380px;
  }

  ytd-browse[page-subtype="playlist"] ytd-two-column-browse-results-renderer
  {
    margin-top: 50px !important;
  }

  #player, #c4-branding-dropdown-menu, #left-arrow, #right-arrow, ytd-playlist-sidebar-renderer
  {
    z-index: 30 !important;
  }

  #masthead-container
  {
    z-index: 9002 !important;
  }

  #theater-background
  {
    display: none;
  }

  .thumb-link
  {
    z-index: 100 !important;
  }

  .appbar-nav-menu
  {
    padding: 0 20px 0 20px;
    margin-top: -5px;
    border-radius: 3px;
  }

  #yt-masthead
  {
    padding: 0 20px 0 20px;
  }

  ytd-page-manager ytd-two-column-browse-results-renderer
  {
    position: relative;
    top: 50px;
  }

  ytd-browse[page-subtype="channels"] #tabs-inner-container
  {
    position: relative;
    top: -1px;
  }

  ytd-browse[page-subtype="channels"] #channel-container
  {
    top: 6px;
  }

  #feed-main-what_to_watch
  {
    padding: 0 20px 0 20px;
  }

  .ytd-browse
  {
    margin-top: 100px;
  }

  #masthead-search, ytd-browse[page-subtype="channels"] ytd-browse-secondary-contents-renderer
  {
    margin-left: 20px;
  }

  #primary
  {
    padding-left: 35px !important;
  }

  #top
  {
    padding: 60px 20px 20px 20px;
  }

  ytd-watch[theater] #top
  {
    padding: 25px 20px 20px 20px;
  }

  .guide-channel
  {
    padding: 5px 0 5px 0;
  }

  #page-manager #player .ytp-large-width-mode
  {
    margin-top: -25px !important;
  }

  #page-container, #watch7-container
  {
    margin-top: 20px !important;
    padding-top: 0 !important;
  }

  ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-account"],
        ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-conversations"],
        ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-notifications"],
        ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-creation"],
        ytd-multi-page-menu-renderer[menu-style=""]
  {
    position: relative !important;
    top: 8px !important;
  }

  iron-dropdown[vertical-align="top"] #contentWrapper
  {
    padding-left: 16px !important;
    margin-right: -16px !important;
  }
	/* Gazillion Live Chat Fixes */
  yt-live-chat-app #panel-pages, yt-live-chat-app #panel-pages #action-panel
  {
    height: 130px !important;
  }

  yt-live-chat-app #panel-pages #action-panel yt-live-chat-message-input-renderer
  {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 15px 0 0 !important;
  }

  yt-live-chat-app #panel-pages #action-panel yt-live-chat-message-input-renderer #container
  {
    margin-top: -205px !important;
    z-index: 9999;
    max-width: none !important;
  }

  yt-live-chat-creator-support-renderer
  {
    margin-top: 205px !important;
  }

  yt-live-chat-app #panel-pages #action-panel yt-live-chat-message-input-renderer[emoji-open="true"]
  {
    position: absolute;
    top: 0;
    height: 150%;
    background-color: black !important;
  }

  yt-live-chat-app #panel-pages #action-panel yt-live-chat-message-input-renderer[emoji-open="true"] #container
  {
    background-color: black !important;
    width: 105%;
    height: 1000px;
  }

  yt-live-chat-app #panel-pages #action-panel yt-live-chat-message-input-renderer[emoji-open="true"] #picker-buttons::before
  {
    content: "Close Emoji Panel";
    color: white;
    margin-left: 15px;
  }

  #buy-flow.iron-selected
  {
    position: absolute;
    top: 0;
    height: 1000px;
    background-color: black !important;
    width: 100%;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer #message #input, #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer #message #label
  {
    color: black !important;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer[emoji-open="true"] #preview
  {
    height: 570px;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer[emoji-open="true"] #preview #picker-buttons
  {
    margin-top: -20px;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer[emoji-open="true"] #preview #picker-buttons::before
  {
    content: "Close Emoji Panel";
    color: white;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer[emoji-open="true"] #pickers-container
  {
    background: black !important;
  }

  #buy-flow.iron-selected yt-live-chat-message-buy-flow-renderer[emoji-open="true"] yt-emoji-picker-renderer
  {
    margin-left: -20px !important;
  }

  yt-emoji-picker-renderer
  {
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    transition: all 5s ease-in-out;
  }
	/* End of Live Chat Fixes */
	/* Shoo pretty broken country code text */
  #country-code
  {
    z-index: 0 !important;
    display: none !important;
  }
	/* End of Shoo */
  #appbar-guide-menu
  {
    margin-top: 50px !important;
    z-index: 50 !important;
  }

  ytd-browse
  {
    margin-top: 0 !important;
  }

  ytd-browse[page-subtype="channels"] ytd-two-column-browse-results-renderer
  {
    margin-top: 0 !important;
  }

  ytd-playlist-sidebar-renderer
  {
    margin-top: 90px !important;
    padding-top: 0 !important;
  }

  ytd-playlist-sidebar-renderer #items
  {
    margin-top: 60px !important;
  }

  #yt-masthead-container, .yt-uix-form-input-container
  {
    padding: 5px 0 11px 0;
  }

  ytd-two-column-search-results-renderer
  {
    margin-top: 150px !important;
  }

  #top
  {
    margin-top: 140px !important;
  }

  ytd-watch[theater=""] #top
  {
    margin-top: 126px !important;
  }

  a[is="yt-endpoint"] #channel-container
  {
    margin-top: 0 !important;
  }

  #channel-container, app-toolbar.ytd-c4-tabbed-header-renderer
  {
    position: relative;
    top: 7px;
  }

  ytd-two-column-browse-results-renderer, ytd-watch > #top
  {
    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  }

  ytd-browse[page-subtype="channels"] ytd-two-column-browse-results-renderer
  {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  ytd-watch[theater=""] > #top
  {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  ytd-playlist-sidebar-renderer, ytd-playlist-sidebar-renderer #items
  {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  ytd-playlist-thumbnail
  {
    padding-left: 20px !important;
  }

  #dismissable #contents .ytd-thumbnail-overlay-time-status-renderer
  {
    padding: 5px;
    border-radius: 2px;
  }

  ytd-thumbnail-overlay-side-panel-renderer
  {
    margin-right: 10%;
    width: 80% !important;
  }

  ytd-two-column-browse-results-renderer
  {
    width: 1350px !important;
  }

  ytd-browse[page-subtype="channels"] ytd-browse-secondary-contents-renderer
  {
    border-radius: 3px !important;
  }
	/* Dark Dropdown override */
  ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-notifications"] #img, .ytd-active-account-header-renderer, #header ytd-simple-menu-header-renderer, ytd-account-item-renderer #contentIcon, a[href="/account_notifications"]
  {
    filter: invert(1);
    box-shadow: none !important;
  }

  ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#F00"], ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#f00"], ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#E23229"], ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#C7322A"], ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#333"], ytd-multi-page-menu-renderer ytd-compact-link-renderer path[fill="#3D3D3D"]
  {
    fill: #ff0000 !important;
  }
	/* End of Dark Dropdown override */
        /* Dark Mode Fixes*/
  .ytd-multi-page-menu-renderer #sections *
  {
    filter: none !important;
    color: black !important;
  }

  html[dark='true'] ytd-multi-page-menu-renderer #sections *
  {
    filter: none !important;
    color: white !important;
  }

  html[dark='true'] ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-notifications"]
  {
    background-color: #212121 !important;
  }
	@  media screen and (max-width: 1400px)
  {
    ytd-two-column-browse-results-renderer {
			width: 95% !important;
  }
}

.video-stream
{
  top: 0!important;
}

#description a.yt-formatted-string, .ytd-comment-renderer #content-text a.yt-formatted-string
{
  color: lightblue !important;
}

ytd-app[guide-hovered]
{
  --ytd-app-scroll-offset: 0 !important;
}

body[dir="ltr"]
{
  overflow-y: scroll !important;
}

::placeholder
{
  color: white !important;
}

::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #212121;
}

im
	::-webkit-scrollbar
{
  width: 12px;
  background-color: #212121;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #D62929;
}

.ytp-chrome-bottom, .ytp-gradient-bottom
{
  bottom: 0;
}

.ytp-upnext .ytp-cued-thumbnail-overlay-image
{
  opacity: 1;
}

ytd-thumbnail-overlay-time-status-renderer
{
  opacity: 1;
}

#page, #body-container, body.show_badge, #page-manager, body ytd-app #content.ytd-app, #page-container, #page-container, #body-container, .ytd-page-manager, ytd-app[show-header-shadow], #body-container, ytd-app[guide-persistent-and-visible=""] #guide, .no-focus-outline
{
  background-color: #212121;
  background-image: url("/*[[imagekey]]*/") !important;
  object-fit: cover !important;
  background-attachment: fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#movie_player.ytp-fullscreen
{
  background-color: #212121;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/*[[imagekey]]*/") !important;
  object-fit: cover !important;
  background-attachment: fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
        /*[[font]]*/

}